/** Errors */
.error {
    color: red !important;
}

/** Paragraphs */
p.seperator {
    margin-top: -5px;
    margin-bottom: -3px;
}

p.user-message {
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px
}

p.channel-message {
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px
}

p.server-message {
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 11pt;
}

/** Timestamp **/
span.timestamp {
    color: #808080;
}

/** Sender (NickName|ServerName) */
span.sender-server {
    color: black;
}

span.sender-other {
    color: black;
}

span.sender-me {
    color: black;
}

/** Message Content */
span.message-by-me {
}

span.message-by-other {
}

span.message-by-server {
}

/** Special styling */
span.client-event {
    color: #0000A8;
}

span.client-action {
    color: #009933;
}

span.highlight {
    color: red;
}

/** inline tables */
table.cmd-list-table {
    border: 1px solid #ddd;
    margin-top: 1em;
    max-width: 400px;
}

table.cmd-list-table td.topic {
    max-width: 50vw;
}
