/** 
 * Message Styles 
 */
span.client-event {
    color: #0000A8;
}

span.server-error {
    color: red;
}

p.seperator {
    margin-top: -5px;
    margin-bottom: -3px;
}

span.timestamp {
    color: #808080;
}

span.sender-server {
    color: black;
}

span.sender-other {
    color: black;
}

span.sender-me {
    color: black;
}

p.channel-message {
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px
}

p.channel-message-error {
    color: red;
}

p.channel-message a {

    /* default */
}

p.server-message {
    margin-top: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 11pt;
}

span.message-by-me {
}

span.message-by-other {
}

span.message-by-server {
}
